## Working with Datetime Data

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

In [11]:
dates = pd.date_range(start='2024-01-01', end='2024-01-07 23:00:00', freq = 'h')
print(f"Created {len(dates)} hourly timestamps")
print(f"First: {dates[0]}")
print(f"Last: {dates[-1]}")

Created 168 hourly timestamps
First: 2024-01-01 00:00:00
Last: 2024-01-07 23:00:00

In [19]:
# Generate simple load data with daily pattern
hours = np.arange(len(dates))
daily_pattern = 500 + np.sin((hours%24)*2*np.pi/24 - np.pi/2)
noise = np.random.normal(0, 10, len(dates))
load = daily_pattern + noise

# create DataFrame
df = pd.DataFrame({
    'load': load
    }, index = dates
)
df.head()

                           load
2024-01-01 00:00:00  503.043882
2024-01-01 01:00:00  491.903132
2024-01-01 02:00:00  492.662588
2024-01-01 03:00:00  480.007705
2024-01-01 04:00:00  496.030118

In [20]:
df['hour'] = df.index.hour
df['day_of_week'] = df.index.day_name()
df['date'] = df.index.date

In [23]:
# show a few rows
df[['load','hour','day_of_week']].head()

                           load  hour day_of_week
2024-01-01 00:00:00  503.043882     0      Monday
2024-01-01 01:00:00  491.903132     1      Monday
2024-01-01 02:00:00  492.662588     2      Monday
2024-01-01 03:00:00  480.007705     3      Monday
2024-01-01 04:00:00  496.030118     4      Monday

In [31]:
jan_3 = df.loc['2024-01-03']
print(f"January 3rd has {len(jan_3)} hours of data")
print(f"Peak load: {jan_3['load'].max():.1f} MW at hour {jan_3['load'].idxmax().hour}")

January 3rd has 24 hours of data
Peak load: 528.2 MW at hour 20

## Basic Time Series Operations

In [ ]:
# resample hourly to daily
daily = df['load'].resample('D')